.land {
  width: 100%;
  height: 100%;
  background-image: url('../img/PNG/grass.png');
}

.snow {
  width: 100%;
  height: 100%;
  background-image: url('../img/PNG/grass-snow.png');
}

span {
  background-size: contain;
}
/* =============================================================================
BASE
============================================================================= */

.a1 {
  background-image: url('../img/PNG/v2/A1.png');
}
.a2 {
  background-image: url('../img/PNG/v2/A2.png');
}
.a3 {
  background-image: url('../img/PNG/v2/A3.png');
}
.a4 {
  background-image: url('../img/PNG/v2/A4.png');
}
.a5 {
  background-image: url('../img/PNG/v2/A5.png');
}
.a6 {
  background-image: url('../img/PNG/v2/A6.png');
}
.a7 {
  background-image: url('../img/PNG/v2/A7.png');
}
.a8 {
  background-image: url('../img/PNG/v2/A8.png');
}
.a9 {
  background-image: url('../img/PNG/v2/A9.png');
}
.a10 {
  background-image: url('../img/PNG/v2/A10.png');
}
.a11 {
  background-image: url('../img/PNG/v2/A11.png');
}

/* ================================================= */

.b1 {
  background-image: url('../img/PNG/v2/B1.png');
}
.b2 {
  background-image: url('../img/PNG/v2/B2.png');
}
.b3 {
  background-image: url('../img/PNG/v2/B3.png');
}
.b4 {
  background-image: url('../img/PNG/v2/B4.png');
}
.b5 {
  background-image: url('../img/PNG/v2/B5.png');
}
.b6 {
  background-image: url('../img/PNG/v2/B6.png');
}
.b7 {
  background-image: url('../img/PNG/v2/B7.png');
}
.b8 {
  background-image: url('../img/PNG/v2/B8.png');
}
.b9 {
  background-image: url('../img/PNG/v2/B9.png');
}
.b10 {
  background-image: url('../img/PNG/v2/B10.png');
}
.b11 {
  background-image: url('../img/PNG/v2/B11.png');
}

/* ================================================= */

.c1 {
  background-image: url('../img/PNG/v2/C1.png');
}
.c2 {
  background-image: url('../img/PNG/v2/C2.png');
}
.c3 {
  background-image: url('../img/PNG/v2/C3.png');
}
.c4 {
  background-image: url('../img/PNG/v2/C4.png');
}
.c5 {
  background-image: url('../img/PNG/v2/C5.png');
}
.c6 {
  background-image: url('../img/PNG/v2/C6.png');
}
.c7 {
  background-image: url('../img/PNG/v2/C7.png');
}
.c8 {
  background-image: url('../img/PNG/v2/C8.png');
}
.c9 {
  background-image: url('../img/PNG/v2/C9.png');
}
.c10 {
  background-image: url('../img/PNG/v2/C10.png');
}
.c11 {
  background-image: url('../img/PNG/v2/C11.png');
}

/* ================================================= */

.d1 {
  background-image: url('../img/PNG/v2/D1.png');
}
.d2 {
  background-image: url('../img/PNG/v2/D2.png');
}
.d3 {
  background-image: url('../img/PNG/v2/D3.png');
}
.d4 {
  background-image: url('../img/PNG/v2/D4.png');
}
.d5 {
  background-image: url('../img/PNG/v2/D5.png');
}
.d6 {
  background-image: url('../img/PNG/v2/D6.png');
}
.d7 {
  background-image: url('../img/PNG/v2/D7.png');
}
.d8 {
  background-image: url('../img/PNG/v2/D8.png');
}
.d9 {
  background-image: url('../img/PNG/v2/D9.png');
}
.d10 {
  background-image: url('../img/PNG/v2/D10.png');
}
.d11 {
  background-image: url('../img/PNG/v2/D11.png');
}
.d12 {
  background-image: url('../img/PNG/v2/D12.png');
}

/* ================================================= */

.e1 {
  background-image: url('../img/PNG/v2/E1.png');
}
.e2 {
  background-image: url('../img/PNG/v2/E2.png');
}
.e3 {
  background-image: url('../img/PNG/v2/E3.png');
}
.e4 {
  background-image: url('../img/PNG/v2/E4.png');
}
.e5 {
  background-image: url('../img/PNG/v2/E5.png');
}
.e6 {
  background-image: url('../img/PNG/v2/E6.png');
}
.e7 {
  background-image: url('../img/PNG/v2/E7.png');
}
.e8 {
  background-image: url('../img/PNG/v2/E8.png');
}
.e9 {
  background-image: url('../img/PNG/v2/E9.png');
}
.e10 {
  background-image: url('../img/PNG/v2/E10.png');
}
.e11 {
  background-image: url('../img/PNG/v2/E11.png');
}
.e12 {
  background-image: url('../img/PNG/v2/E12.png');
}

/* ================================================= */

.f1 {
  background-image: url('../img/PNG/v2/F1.png');
}
.f2 {
  background-image: url('../img/PNG/v2/F2.png');
}
.f3 {
  background-image: url('../img/PNG/v2/F3.png');
}
.f4 {
  background-image: url('../img/PNG/v2/F4.png');
}
.f5 {
  background-image: url('../img/PNG/v2/F5.png');
}
.f6 {
  background-image: url('../img/PNG/v2/F6.png');
}
.f7 {
  background-image: url('../img/PNG/v2/F7.png');
}
.f8 {
  background-image: url('../img/PNG/v2/F8.png');
}
.f9 {
  background-image: url('../img/PNG/v2/F9.png');
}
.f10 {
  background-image: url('../img/PNG/v2/F10.png');
}
.f11 {
  background-image: url('../img/PNG/v2/F11.png');
}
.f12 {
  background-image: url('../img/PNG/v2/F12.png');
}

/* ================================================= */

.g1 {
  background-image: url('../img/PNG/v2/G1.png');
}
.g2 {
  background-image: url('../img/PNG/v2/G2.png');
}
.g3 {
  background-image: url('../img/PNG/v2/G3.png');
}
.g4 {
  background-image: url('../img/PNG/v2/G4.png');
}
.g5 {
  background-image: url('../img/PNG/v2/G5.png');
}
.g6 {
  background-image: url('../img/PNG/v2/G6.png');
}
.g7 {
  background-image: url('../img/PNG/v2/G7.png');
}
.g8 {
  background-image: url('../img/PNG/v2/G8.png');
}
.g9 {
  background-image: url('../img/PNG/v2/G9.png');
}
.g10 {
  background-image: url('../img/PNG/v2/G10.png');
}
.g11 {
  background-image: url('../img/PNG/v2/G11.png');
}
.g12 {
  background-image: url('../img/PNG/v2/G12.png');
}

/* ================================================= */

.h1 {
  background-image: url('../img/PNG/v2/H1.png');
}
.h2 {
  background-image: url('../img/PNG/v2/H2.png');
}
.h3 {
  background-image: url('../img/PNG/v2/H3.png');
}
.h4 {
  background-image: url('../img/PNG/v2/H4.png');
}
.h5 {
  background-image: url('../img/PNG/v2/H5.png');
}
.h7 {
  background-image: url('../img/PNG/v2/H7.png');
}
.h9 {
  background-image: url('../img/PNG/v2/H9.png');
}
.h10 {
  background-image: url('../img/PNG/v2/H10.png');
}
.h11 {
  background-image: url('../img/PNG/v2/H11.png');
}
.h12 {
  background-image: url('../img/PNG/v2/H12.png');
}

/* ================================================= */

.i1 {
  background-image: url('../img/PNG/v2/I1.png');
}
.i2 {
  background-image: url('../img/PNG/v2/I2.png');
}
.i3 {
  background-image: url('../img/PNG/v2/I3.png');
}
.i4 {
  background-image: url('../img/PNG/v2/I4.png');
}
.i5 {
  background-image: url('../img/PNG/v2/I5.png');
}
.i7 {
  background-image: url('../img/PNG/v2/I7.png');
}
.i8 {
  background-image: url('../img/PNG/v2/I8.png');
}
.i9 {
  background-image: url('../img/PNG/v2/I9.png');
}
.i10 {
  background-image: url('../img/PNG/v2/I10.png');
}
.i11 {
  background-image: url('../img/PNG/v2/I11.png');
}
.i12 {
  background-image: url('../img/PNG/v2/I12.png');
}

/* ================================================= */

.l2 {
  background-image: url('../img/PNG/v2/L2.png');
}
.l3 {
  background-image: url('../img/PNG/v2/L3.png');
}
.l4 {
  background-image: url('../img/PNG/v2/L4.png');
}
.l9 {
  background-image: url('../img/PNG/v2/L9.png');
}
.l10 {
  background-image: url('../img/PNG/v2/L10.png');
}
.l11 {
  background-image: url('../img/PNG/v2/L11.png');
}
.l12 {
  background-image: url('../img/PNG/v2/L12.png');
}

/* =============================================================================
ELEMENTS
============================================================================= */
.usdc {
  background-image: url('../img/PNG/v2/USDC.png');
}
.stake-dao {
  background-image: url('../img/PNG/v2/STAKEDAO.png');
}
.zoo {
  background-image: url('../img/PNG/v2/zoo.png');
}
.uni-pool {
  background-image: url('../img/PNG/v2/uni-pool.png');
  grid-area: 5 / 5 / 6 / 8;
}
.uni-01 {
  background-image: url('../img/PNG/v2/UNI01.png');
}
.uni-02 {
  background-image: url('../img/PNG/v2/UNI02.png');
}
.uni-03 {
  background-image: url('../img/PNG/v2/UNI03.png');
}
.light {
  background-image: url('../img/PNG/v2/LIGHT.png');
}
.usdt {
  background-image: url('../img/PNG/v2/USDT.png');
}
.dai {
  background-image: url('../img/PNG/v2/DAI.png');
}


.tree {
  background-image: url('../img/PNG/tree.png');
}

.tree-snow {
  background-image: url('../img/PNG/tree-snow.png');
}

.carrots {
  background-image: url('../img/PNG/carrots.png');
}

.salad {
  background-image: url('../img/PNG/salad.png');
}

.wheat {
  background-image: url('../img/PNG/wheat.png');
}

.shop {
  background-image: url('../img/PNG/shop.png');
}

.farm {
  background-image: url('../img/PNG/farm.png');
}

.rocks {
  background-image: url('../img/PNG/rocks.png');
}

.rocks-snow {
  background-image: url('../img/PNG/rocks-snow.png');
}

.camping {
  background-image: url('../img/PNG/camping.png');
}

.cottage {
  background-image: url('../img/PNG/cottage.png');
}

.enclosure {
  background-image: url('../img/PNG/enclosure.png');
}

.hay {
  background-image: url('../img/PNG/hay.png');
}

.hay-snow {
  background-image: url('../img/PNG/hay-snow.png');
}

.tulips {
  background-image: url('../img/PNG/tulips.png');
}

.grass-tall {
  background-image: url('../img/PNG/grass-tall.png');
}

.grass-small {
  background-image: url('../img/PNG/grass-small.png');
}

.grass-small-snow {
  background-image: url('../img/PNG/grass-small-snow.png');
}

.gas {
  background-image: url('../img/PNG/gas.png');
}
.clickable {
  cursor: pointer;
}
.clickable:hover {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(255,0,43,1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(255,0,43,1);
  box-shadow: 0px 0px 0px 2px rgba(255,0,43,1);
}

.gas-prices {
  font-size: 8px !important;
  text-transform: uppercase;
}

.comp {
  background-image: url('../img/PNG/comp.png');
}

.comp-snow {
  background-image: url('../img/PNG/comp-snow.png');
}

.crv {
  background-image: url('../img/PNG/crv.png');
}

.poi-link {
  background-image: url('../img/PNG/link.png');
}

.poi-lend {
  background-image: url('../img/PNG/lend.png');
}

.poi-maker {
  background-image: url('../img/PNG/maker.png');
}

.poi-sushi {
  background-image: url('../img/PNG/sushi.png');
}

.poi-snx {
  background-image: url('../img/PNG/snx.png');
}

.poi-yfi {
  background-image: url('../img/PNG/yfi.png');
}

.flowers-white {
  background-image: url('../img/PNG/flowers-white.png');
}

.flowers-white-snow {
  background-image: url('../img/PNG/flowers-white-snow.png');
}


/* =============================================================================
SAND
============================================================================= */

.sand-top {
  background-image: url('../img/PNG/sand-top.png');
}

.sand-top-snow {
  background-image: url('../img/PNG/sand-top-snow.png');
}

/* =============================================================================
ROAD
============================================================================= */

.road-curve-bottom-left {
  background-image: url('../img/PNG/road-curve-bottom-left.png');
}

.road-curve-left-top {
  background-image: url('../img/PNG/road-curve-left-top.png');
}

.road-curve-right-bottom {
  background-image: url('../img/PNG/road-curve-right-bottom.png');
}

.road-curve-top-right {
  background-image: url('../img/PNG/road-curve-top-right.png');
}

.road-end-0 {
  background-image: url('../img/PNG/road-end-0.png');
}

.road-end-180 {
  background-image: url('../img/PNG/road-end-180.png');
}

.road-end-270 {
  background-image: url('../img/PNG/road-end-270.png');
}

.road-end-90 {
  background-image: url('../img/PNG/road-end-90.png');
}

.road-hor {
  background-image: url('../img/PNG/road-hor.png');
}

.road-ver {
  background-image: url('../img/PNG/road-ver.png');
}

/* SNOWY ROAD */

.road-curve-bottom-left-snow {
  background-image: url('../img/PNG/road-curve-bottom-left-snow.png');
}

.road-curve-left-top-snow {
  background-image: url('../img/PNG/road-curve-left-top-snow.png');
}

.road-curve-right-bottom-snow {
  background-image: url('../img/PNG/road-curve-right-bottom-snow.png');
}

.road-curve-top-right-snow {
  background-image: url('../img/PNG/road-curve-top-right-snow.png');
}

.road-end-0-snow {
  background-image: url('../img/PNG/road-end-0-snow.png');
}

.road-end-180-snow {
  background-image: url('../img/PNG/road-end-180-snow.png');
}

.road-end-270-snow {
  background-image: url('../img/PNG/road-end-270-snow.png');
}

.road-end-90-snow {
  background-image: url('../img/PNG/road-end-90-snow.png');
}

.road-hor-snow {
  background-image: url('../img/PNG/road-hor-snow.png');
}

.road-ver-snow {
  background-image: url('../img/PNG/road-ver-snow.png');
}

/* =============================================================================
SERVICE STATION
============================================================================= */

.ss-01 {
  background-image: url('../img/PNG/ss-01.png');
}

.ss-02 {
  background-image: url('../img/PNG/ss-02.png');
}

.ss-03 {
  background-image: url('../img/PNG/ss-03.png');
}

.ss-04 {
  background-image: url('../img/PNG/ss-04.png');
}

.ss-05 {
  background-image: url('../img/PNG/ss-05.png');
}

.ss-06 {
  background-image: url('../img/PNG/ss-06.png');
}


/* =============================================================================
SOCIAL
============================================================================= */

.github {
  background-image: url('../img/PNG/github.png');
}

.twitter {
  background-image: url('../img/PNG/twitter.png');
}

.telegram {
  background-image: url('../img/PNG/telegram.png');
}

.discord {
  background-image: url('../img/PNG/discord.png');
}

.chad {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* =============================================================================
CARGO SHIP
============================================================================= */
.ship-01, .ship-02, .ship-03 {
  cursor: pointer;
}

.ship-01 {
  background-image: url('../img/PNG/ship-01.png');
}

.ship-02 {
  background-image: url('../img/PNG/ship-02.png');
}

.ship-03 {
  background-image: url('../img/PNG/ship-03.png');
}
