.modal-body-map, .modal-content-map {
  background-color: transparent;
  border: none;
  outline: none;
}
.map-title {
  color: #FFFFFF;
}

.map-1 {
  background-image: url('../img/PNG/M1.png');
}
.map-2 {
  background-image: url('../img/PNG/M2.png');
}
.map-3 {
  background-image: url('../img/PNG/M3.png');
}
.map-4 {
  background-image: url('../img/PNG/M4.png');
}
.map-5 {
  background-image: url('../img/PNG/M5.png');
}
.map-6 {
  background-image: url('../img/PNG/M6.png');
}
.map-7 {
  background-image: url('../img/PNG/M7.png');
}
.map-8 {
  background-image: url('../img/PNG/M8.png');
}
.map-9 {
  background-image: url('../img/PNG/M9.png');
}
.map-10 {
  background-image: url('../img/PNG/M10.png');
}
.map-11 {
  background-image: url('../img/PNG/M11.png');
}
.map-12 {
  background-image: url('../img/PNG/M12.png');
}
.map-13 {
  background-image: url('../img/PNG/M13.png');
}
.map-14 {
  background-image: url('../img/PNG/M14.png');
}
.map-15 {
  background-image: url('../img/PNG/M15.png');
}
.map-16 {
  background-image: url('../img/PNG/M16.png');
}
.map-17 {
  background-image: url('../img/PNG/M17.png');
}
.map-18 {
  background-image: url('../img/PNG/M18.png');
}
.map-19 {
  background-image: url('../img/PNG/M19.png');
}
.map-20 {
  background-image: url('../img/PNG/M20.png');
}
.map-21 {
  background-image: url('../img/PNG/M21.png');
}
.map-22 {
  background-image: url('../img/PNG/M22.png');
}
.map-23 {
  background-image: url('../img/PNG/M23.png');
}
.map-24 {
  background-image: url('../img/PNG/M24.png');
}
.map-25 {
  background-image: url('../img/PNG/M25.png');
}
.map-26 {
  background-image: url('../img/PNG/M26.png');
}
.map-27 {
  background-image: url('../img/PNG/M27.png');
}
.map-28 {
  background-image: url('../img/PNG/M28.png');
}
.map-29 {
  background-image: url('../img/PNG/M29.png');
}
.map-30 {
  background-image: url('../img/PNG/M30.png');
}
